<!-- .modal -->
<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel" aria-hidden="true">
  <!-- .modal-dialog -->
  <div class="modal-dialog modal-dialog-overflow" role="document">
    <!-- .modal-content -->
    <div class="modal-content">
      <!-- .modal-header -->
      <div class="modal-header">
        <h6 id="followingModalLabel" class="modal-title">Following</h6>
      </div>
      <!-- /.modal-header -->

      <!-- .modal-body -->
      <div class="modal-body px-0">
        {% include ui/following-list.html %}
        <!-- .loading -->
        <div class="loading border-bottom">
          <div class="loader loader-sm"></div>
          <div class="sr-only">Loading more content</div>
        </div>
        <!-- /.loading -->
      </div>
      <!-- /.modal-body -->

      <!-- .modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
      <!-- /.modal-footer -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
