// Include parts of Bootstrap, Plugins & Theme Components
//
// Required

@import "default/variable-bs-overrides";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "default/variables";
@import "default/mixins";
// your own variables
@import "variable-custom";


// Bootstrap and its default variables
// ==================================================

@import "node_modules/bootstrap/scss/bootstrap";


// Bootstrap components overrides
// ==================================================

@import "default/bootstrap/typography";
@import "default/bootstrap/code";
@import "default/bootstrap/embed-responsive";
@import "default/bootstrap/tables";
@import "default/bootstrap/buttons";
@import "default/bootstrap/alerts";
@import "default/bootstrap/badge";
@import "default/bootstrap/forms";
@import "default/bootstrap/input-group";
@import "default/bootstrap/custom-forms";
@import "default/bootstrap/list-group";
@import "default/bootstrap/cards";
@import "default/bootstrap/dropdowns";
@import "default/bootstrap/progress";
@import "default/bootstrap/breadcrumb";
@import "default/bootstrap/paginations";
@import "default/bootstrap/navs";
@import "default/bootstrap/modals";
@import "default/bootstrap/popovers";
@import "default/bootstrap/utilities";


// Theme components
// ==================================================
@import "default/components/hamburger";


// Landing page styles
// ==================================================

body {
  background-color: $white;
}

.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 3rem 0;
}

